.container {
    width: 800px;
    height: 800px;
    background-color: bisque;
}

.card {
    background-color: white;
    border: 1px solid grey;
    position: relative;
    margin-bottom: 20px;
    clear: both;
}

.card img {
    float: left;
    margin-right: 25px;

}


img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    float: left;
}