body {
    margin: 0;
}

.container {
    width: 800px;
    height: 800px;
    background-color: bisque;

    padding: 20px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border: 1px solid grey;
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    clear: both;
}

.card img {
    float: left;
    margin-right: 25px;

}

.card img.img-right {
    float: right;
    margin-right: 25px;

}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    float: left;
}

.card-content {
    overflow: hidden; /* Evita que o conteúdo flutuado saia do contêiner */
}
