body{
    background-color: cadetblue;
}

div {
    background-color: aquamarine;
    border-radius: 15px;
}
img {
    width: 100%;
}

.card {
    background-color: rgb(100, 75, 124);
    height: 400px;
    width: 400px;
}
#container{
    background-color: brown;
    width: 250px;
    height: 400px;
}

.last {
    background-color: chocolate;
    height: 80px;
}