body {
    font-family: Arial, sans-serif; /*Usar uma fonte diferente*/
    line-height: 1.6;  /*Espaçamento entre linhas*/

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    
    text-align: center; /**Alinhar o texto*/
}
.container {
    width: 80%;
    margin: auto;
}
h1 {
    margin: 0;

    font-size: 2.5em; /*Tamanho da fonte*/
}
h2 {
    color: #333;
    border-bottom: 2px solid #333;  
    padding-bottom: 5px;
}
 section  {
    background: #f1d8d8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;

    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
}
ul, ol {
    margin-left: 20px;
    padding-left: 0;
}
ul li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
}
ol li {
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
}
dl dt {
    font-weight: bold;
    margin-top: 10px;
}
dl dd {
    margin: 0 0 10px 20px;
}