.container {
    height: auto;
    background-color: rgb(211, 125, 125);
}

.div1 {
    height: 200px;
    width: 150px;
    background-color: blue;
    float: left;
}

.div2 {
    height: 200px;
    width: 150px;
    background-color: rgb(101, 9, 101);
    float: right;
}

.div3 {
    clear: both;
}
.box-texto {
    width: 400px;
    height: auto;
    background-color: blanchedalmond;
}

p {
    margin: 20px;
}
.box {
    height: 100px;
    width: 100px;
    background-color: green;
    float: right;
    margin: 10px;
}