* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto; /* Ajuste automático da altura conforme o conteúdo */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-section {
    width: 50%; /* 50% da tela para a imagem */
}

.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem */
}

.right-section {
    width: 50%; /* 50% da tela para o formulário */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Certifique-se de que os inputs ocupam toda a largura disponível */
}

input[type="submit"] {
    padding: 10px;
    background-color: #1098ad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%; /* Botão ocupando toda a largura disponível */
}

input[type="submit"]:hover {
    background-color: #0b7a91;
}
